@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131313;
  font-family: cubano;
}

@font-face {
  font-family: regular;
  src: url('../assets/fonts/OakSans-Regular-BF648bbebd37e68.ttf');
}

.regularFont {
  font-family: regular;
}

@font-face {
  font-family: cubano;
  src: url('../assets/fonts/Cubano.ttf');
}

.cubano {
  font-family: cubano;
}